/lisp/program.lisp~
/lisp/main.lisp~
/lisp/symbolic.lisp~
/mpc-control.asd~
/compile.sh~
/lisp/mpc.lisp~
/lisp/run.lisp~
/lisp/udp.lisp~
/test.c~
/web/matrix-visualizer.html~
/lisp/#mpc.lisp#
/lisp/#symbolic.lisp#
/lisp/hhhh.lisp
/lisp/hhhh.lisp~
/simulation/test.py~
/a.out
